<!DOCTYPE html>
<html>
<title></title>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css"
    integrity="sha384-3AB7yXWz4OeoZcPbieVW64vVXEwADiYyAEhwilzWsLw+9FgqpyjjStpPnpBO8o8S" crossorigin="anonymous">

<body>
   

    {% load socialaccount %}
   
    <h2>Sign in/up Form</h2>
    <div class="container" id="container">

        

        <div class="overlay-container">
            <form method="POST">
                <h1>Sign in</h1>
                
                
                {% csrf_token %}
                {{ form.as_p }}
             <button>Sign In</button>
                <a href="{% url 'account_reset_password' %}">Forgot your password?</a>
                <br>
                <a href="{% url 'account_signup' %}">Sign Up</a>
                
            </form>
        </div>
    </div>

</body>

</html>