<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}

    <script defer src="{% static 'main/face-api.min.js' %}"></script>
    <script defer src="{% static 'main/render.js' %}"></script>
</head>
<style>
    body {
        margin: 0;
        padding: 0;
        width: 100vw;
        height: 100vh;
        align-items: center;
        display: flex;
        background-color: aqua;
    }

    /* canvas {
        position: absolute;
    } */
</style>

<body>
    <video id="video" width="90%" height="90%" autoplay muted></video>
    Time = <span id="timedetected"> </span>


   
</body>

</html>